/* .zombie-loading {
  background: url('~@/assets/zombiebg/zombierun.png') left center;
  background-size: cover;
  height: 287px;
  width: 192px;
  position: absolute;
  left: 16vh;
  animation: play 0.7s steps(24) infinite;  
} 
@keyframes play {
   100% { background-position: -4608px; }
}
*/
/* .zombie-parts-bin-component {
  background-image: url('~@/assets/zombiebg/walls.jpg');
  background-size: cover;
} */
.zombie-char {
  position: relative;
  display: flex;
  /* border: 1px solid black; */
  /* background-color: #121212; */
  width: 28vh;
  height: 33vh;
}
/* .share-page .zombie-parts {
  margin-left: 4vh;
}
.zombie-battle-component .zombie-parts {
  margin-left: -1vh;
} */
.zombie-parts .head {
  width: 28vh;
  position: absolute;
  top: -4vh;
}
.zombie-parts .eye {
  width: 13vh;
  position: absolute;
  left: 10vh;
  top: 8vh;
}
.zombie-parts .shirt {
  width: 13vh;
  position: absolute;
  left: 2.6vh;
  top: 13vh;
}
.mouth {
  width: 6vh;
  position: absolute;
  left: 13.6vh;
  top: 15vh;
}
.torso {
  width: 13vh;
  position: absolute;
  left: 2.6vh;
  top: 13vh;
}
.left-thigh {
  width: 6vh;
  position: absolute;
  left: 4.3vh;
  top: 22vh;
}
.right-thigh {
  width: 6vh;
  position: absolute;
  left: 7.4vh;
  top: 22vh;
}
.cat-legs {
  width: 10vh;
  position: absolute;
  left: 2.4vh;
  top: 18vh;
}
.left-hand {
  width: 4vh;
  position: absolute;
  left: 11.3vh;
  top: 19vh;
}
.right-hand{
  width: 4vh;
  position: absolute;
  left: 15.4vh;
  top: 19vh;
}
.left-forearm {
  width: 4vh;
  position: absolute;
  left: 9.3vh;
  top: 20vh;
}
.right-forearm {
  width: 4vh;  
  position: absolute;
  left: 13.4vh;
  top: 20vh;
}
.left-upper-arm {
  width: 6vh;
  position: absolute;
  left: 6.3vh;
  top: 16vh;
}
.right-upper-arm {
  width: 6vh;
  position: absolute;
  left: 10.4vh;
  top: 16vh;
}
.left-leg {
  width: 4vh;
  position: absolute;
  left: 5.3vh;
  top: 27vh;
}
.right-leg {
  width: 3.3vh;
  position: absolute;
  left: 9.3vh;
  top: 27.6vh;
}
.left-feet {
  width: 4vh;
  position: absolute;
  left: 5.3vh;
  top: 30vh;
}
.right-feet {
  width: 3.3vh;
  position: absolute;
  left: 9.3vh;
  top: 30.3vh;
}